{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div type="button" class="btn btn-dark"> <a href="/">Back</a></div>
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Fastest Growing Cities in America by State</h1>
                <p>Use the dropdowns below to see the growth of major states and cities in America</p>
                <div class="state">
                    <h4>State: <select id="stateSelection" onchange="stateChangedState(this.value)"></select></h5>
                    
                  </div>
            </div>
        </div> 
        <div class="row">
        
            <div class="col-md-10">
                <div id="map"></div>
            </div>
            
        </div>

    </div>
{% endblock %}

{% block scripts %}
{{super() }}
    
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/stateMap.js') }}"></script>
  {% endblock %}


